---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
const t = frontmatter.title;
const d = frontmatter.desc;
import { emojiparser } from "./Emoji.js";
const Dates = '${frontmatter.pubDate.getFullYear()}-${frontmatter.pubDate.getMonth()}-${frontmatter.pubDate.getDate()}'
---
<Layout title={t} desc={d}>
<style>
h1 {border-bottom: solid 2px orange;
}
</style> 
<img src={emojiparser(frontmatter.emoji)} class="mx-auto h-32">
<p class="text-3xl font-semibold" m-2>{frontmatter.title}</p>
<p class="text-slate-400 mb-2">{Dates}</p>
<div class="bg-white">
<slot />
</div>
</Layout>
