---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
const t = frontmatter.title;
const d = frontmatter.desc;
import { emojiparser } from "./Emoji.js";
const date = new Date(frontmatter.pubDate);
const year = date.getFullYear().toString().padStart(4, "0");
const month = (date.getMonth() + 1).toString().padStart(2, "0");
const day = date.getDate().toString().padStart(2, "0");
const dateText = year + "年" + month + "月" + day + "日";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
const schema = JSON.stringify({
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    name: "Book BackPacker",
    url: Astro.url,
    headline: frontmatter.title
});
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{t}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content={d} name="description" />
    <meta name="robots" content="index, follow" />
<script type="application/ld+json" set:html={schema}></script>
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"
    />
    </style>
 <link rel="stylesheet" href="global.css" />
  </head>
  <body>
    <header class="bg-sky-400 h-fit">
      <a href="/" class="text-5xl h-fit w-screen max-w-4xl mx-auto">Book Backpacker</a>
    </header>
    <div class="bg-slate-400">
      <main class="mx-auto max-w-4xl w-screen">
      <nav class="flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="#" class="inline-flex items-center text-sm font-medium text-black hover:text-blue-600 dark:hover:text-white">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Home
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="rtl:rotate-180 w-3 h-3 text-black mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a href={Astro.url} class="ms-1 text-sm font-medium text-black hover:text-blue-600 md:ms-2 dark:hover:text-white">{t}</a>
      </div>
    </li>
  </ol>
</nav>
  <p class="m-2 text-3xl font-semibold">{frontmatter.title}</p>
<div class="flex justify-between">
  <p class="mb-2 text-textcolor dark:text-[#DCDDE]">{dateText}</p>
<div>
</div></div> 
 <div class="bg-[#fffff9] dark:bg-[#36393F] p-0 m-0">
    <article class="prose !text-textcolor prose-p:font-Noto prose-headings:text-textcolor prose-p:text-textcolor prose-p:dark:text-[#DCDDDE] prose-headings:dark:text-[#DCDDDE] prose-a:text-sky-400 prose-a:dark:text-sky-4oo prose-ul:text-textcolor prose-ul:dark:text-[#DCDDDE] prose-li:text-textcolor prose-li:dark:text-[#DCDDDE] w-[100%] max-w-4xl">
        <slot />
    </article>
  </div>
</main>
    </div>
 <footer class="bg-sky-400">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm sm:text-center">© 2023. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium sm:mt-0">
        <li>
            <a href="/privacy" class="hover:underline me-4 md:me-6">プライバシーポリシー</a>
        </li>
    
    </ul>
    </div>
</footer>
  </body>
</html>
